node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/app/public/optimized_images
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
package-lock.json
yarn.lock
